* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f1f1f1;
}

header {
  background-color: #3a3a3a;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #fff;
  font-size: 2rem;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.description {
  margin-bottom: 2rem;
  font-style: italic;
  text-align: center;
}

.game {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game img {
  object-fit: contain;
  object-position: 0% 0%;
  max-width: 160px;
  height: auto;
  margin-right: 1rem;
  border-radius: 5px;
}

.game-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.game-info blockquote {
  margin-left: 40px;
}

.game-info p + p {
  margin-top: 1em;
}

.game-info p {
  white-space: pre-wrap;
}

.release-year {
  font-size: 1rem;
  font-weight: normal;
  color: #777;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-top {
  margin-bottom: 1rem;
}

.pagination-bottom {
  margin-top: 1rem;
  padding-top: 1rem;
}

.pagination button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border-width: 1.5px;
}

.pages {
  display: flex;
  margin: 0 1rem;
}

.pages button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.25rem;
  padding: 0.25rem;
  text-decoration: underline;
}

.pages button.current {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

a.whitelink:link { color: #fff; }
a.whitelink:visited { color: #fff; }
a.whitelink:hover { color: #fff; }
a.whitelink:active { color: #fff; }

footer {
  text-align: center;
  padding: 1rem;
  background-color: #3a3a3a;
  color: #fff;
  margin-top: 1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .game {
    flex-direction: column;
    align-items: center;
  }

  .game img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
