[submodule "rollover"]
	path = live/rollover
	url = https://github.com/sargon2/rollover.git
[submodule "sensitivity"]
	path = live/sensitivity
	url = https://github.com/sargon2/sensitivity.git
[submodule "morse"]
	path = live/morse
	url = https://github.com/sargon2/morse.git
[submodule "textwriter"]
	path = live/textwriter
	url = https://github.com/sargon2/textwriter.git
[submodule "weather"]
	path = live/weather
	url = https://github.com/sargon2/weather.git
