[submodule "rollover"]
	path = live/rollover
	url = https://bitbucket.org/dbesen/rollover.git
[submodule "sensitivity"]
	path = live/sensitivity
	url = https://bitbucket.org/dbesen/sensitivity.git
[submodule "morse"]
	path = live/morse
	url = https://bitbucket.org/dbesen/morse.git
[submodule "textwriter"]
	path = live/textwriter
	url = https://bitbucket.org/dbesen/textwriter.git
[submodule "weather"]
	path = live/weather
	url = https://bitbucket.org/dbesen/weather.git
